@import '../app.component.scss';

.app-container {
  background-color: $shadow-dark-blue;
}
.landing-container {
    background-image: url('https://images.pexels.com/photos/41949/earth-earth-at-night-night-lights-41949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position: center; 
    min-height: 100vh;
  }
.landing-title {
  min-height: 5vh;
}
.landing-title {
   h1 {
     font-size: 2rem;
     margin-left: 2rem;
     font-weight: 700;
     color: #FFF;
   }
}

.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 85vh;
  div{
    width: 500px;
  }
}
.trending-container {
  background-size: cover;
  background-position: center; 
  min-height: 100vh;
  padding-bottom: 2rem;
}

.result-card {
  width: 1023px;
  margin: 2rem auto 0 auto;
  background-color: $dark-blue;
  padding: 2rem;
  border-radius: 1rem;
}
.landing-title {

  h1 {
    font-size: 2rem;
   
    color: #FFF;
  }
}
.news-text {

  padding-left: 2rem;

  h1 {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
  }
  span {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #FFF;
  }
  p {
      font-size: 1.1rem;
      font-weight: 600;
      color: #FFF;
  }
  a {
      color: #FFF;
  }
}
.image-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 325px;
    height: 225px;
    border-radius: 2px;
  };
}
.news-item {
  display: flex;
  background-color: inherit;
  padding: 1rem 0 1rem 0;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
#loader-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
}

@media(max-width: 1200px) {
  .result-card {
    width: 800px;
  }
  .news-text{
    h1 {
      font-size: 1rem
    }
    p {
      font-size: .9rem;
    }
  }
  .image-container {
    margin-bottom: 1rem;

    img {
      width: 275px;
      height: 200px
    }
  }
}

@media(max-width: 850px) {
  .landing-title {
    h1 {
      text-align: center;
      margin:0;
      font-size: 1.8rem;
    }
  }
  .news-item {
    display: block;    
  }
  .result-card {
    width: 95%;
    padding: .75rem;
  }
  .image-container {
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .news-text {
    padding-left: 0;
  }
  .searchbar-container {
    div{
      width: 90%;
    }
  }
}
