.resultpage-container {
    background-color: #3F3F3F;
    background-size: cover;
    background-position: center; 
    min-height: 100vh;
    padding-bottom: 2rem;
  }

  .searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0 4rem 0;
    background-color: #3F3F3F;
    div{
      width: 500px;
    }
  }

.landing-title {

   h1 {
     font-size: 2rem;
    
     color: #FFF;
   }
}

.input-container {
  width: 500px;
  h1 {
    font-size: 2rem;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
}


.news-text {

  padding-left: 2rem;

  h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #FFF;
  }
  span {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #FFF;
  }
  p {
      font-size: 1.1rem;
      font-weight: 600;
      color: #FFF;
  }
  a {
      color: #FFF;
  }
}
.image-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 170px;
    height: 160px;
  };
}
.news-item {
  display: flex;
  background-color: #202020;
  padding: 1rem 0 1rem 0;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.result-card {
  width: 1023px;
  margin: auto;
  background-color: #202020;
  padding: 2rem;
  border-radius: 1rem;
}

@media(max-width: 1023px) {
  .result-card {
    width: 700px;
  }
  .news-text{
    h1 {
      font-size: 1.1rem
    }
    p {
      font-size: 1rem;
    }
  }
}

@media(max-width: 700px) {
  .landing-title {
    h1 {
      text-align: center;
      font-size: 1.8rem;
    }
  }
  .news-item {
    display: block;    
  }
  .result-card {
    width: 95%;
    padding: .75rem;
  }
  .image-container {
    margin-bottom: 1rem;

    img {
      border-radius: 2px;
      width: 100%;
      height: 100%;
    }
  }
  .news-text {
    padding-left: 0;
  }
  .searchbar-container {
    div{
      width: 90%;
    }
  }
}