// 5D5C61
.comp-container{
    width: 100%;
    height: 50px;
    background-color: #022140;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    span {
        font-size: 1.2rem;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 2rem;
        margin-right: 2rem;
        cursor: pointer;
        a {
            color: #FFF;
            text-decoration: none;
        }
    }
}
.navbar-display {
    display: none;
}
#collapsibleNavbar {
    background-color: #022140;
    text-align: center;
}
.nav-item {
    a {
        color: #FFF;
        font-size: 1.2rem;
    }
}
.navbar-toggler-icon {
    color: #FFF;
}
.mobile-nav-button {
    background-color: #022140;
    color: #FFF;
    font-size: 1.2rem;
    border-radius: .3rem;
    border: 1px #000 solid;
    outline: none;
}
@media(max-width: 1200px) {
    .navbar-display {
        display: flex;
        justify-content: space-between;
        background-color: #022140;
    }
    .comp-container {
        display: none;
    }
}