<div>
    <div class="comp-container">
        <div class="navbar-container">
            <span><a href="/">INFINITE NEWS</a></span>
            <span><a href="/results/Coronavirus/1">Coronavirus</a></span>
            <span><a href="/results/Finance/1">Finance</a></span>
            <span><a href="/results/Life/1">Life</a></span>
            <span><a href="/results/Entertainment/1">Entertainment</a></span>
            <span><a href="/results/2020%20Election/1">2020 Election</a></span>
            <span><a href="/results/Sports/1">Sports</a></span>
        </div>
        
    </div>
    <nav class="navbar navbar-expand-md navbar-dark navbar-display">
        <!-- Brand -->
        <a class="navbar-brand" href="#">INFINITE NEWS</a>
      
        <!-- Toggler/collapsibe Button -->

        <button class="mobile-nav-button" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            &#9776;
          </button>
        <!-- Navbar links -->
    </nav>
      <div class="collapse" id="collapsibleNavbar">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="/results/Coronavirus/1">Coronavirus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/results/Finance/1">Finance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/results/Life/1">Life</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/results/Entertainment/1">Entertainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/results/2020%20Election/1">2020 Election</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/results/Sports/1">Sports</a>
          </li>
        </ul>
      </div>
</div>
